<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Alzheimer’s Disease</title>
</head>

<body>
  <nav id="navbar">
    <!-- <div class="logo"><img src="static/logophoto" alt="logo" /></div> -->
  </nav>

  <h1>What is Alzheimer’s Disease?</h1>
  <!-- <div class="image"><img src="static/image1.jpeg" alt=""></div> -->

  <div id="items">
    <img src="static/WhatsApp Image 2022-10-29 at 17.09.36 (1).jpeg" alt="photo" class="pic">
    <ul style="list-style-type:square;">
      <li class="item">
        <a href="#first">What are the early signs of Alzheimer’s Disease?</a>
      </li>
      <li class="item">
        <a href="#second">Stages of Alzheimer's?</a>
      </li>
      <li class="item">
        <a href="#third">Causes of Alzheimer's?</a>
      </li>
      <li class="item">
        <a href="#forth">Is Alzheimer’s Disease hereditary?</a>
      </li>
      <li class="item">
        <a href="#fifth">Is there a cure of Alzheimer's?</a>
        </li?>
      <li class="item">
        <a href="#sixth">Prevention of Alzheimer’s Disease?</a>
      </li>
      <li class="item">
        <a href="#seventh">What are the benefits of an early Alzheimer’s diagnosis?</a>
      </li>
      <li class="item">
        <a href="#eight">How is Alzheimer’s Disease diagnosized?</a>
      </li>
    </ul>
  </div>
  <div id="first">
    <h2>1.What are the early signs of Alzheimer’s Disease?</h2>
    <div>
      <p>
      <ul class="hello">
        <li> The symptoms of Alzheimer’s can vary from one person to another. </li>
        <li> Memory problems are typically one of the first signs of the disease. </li>
        <li> Decline in non-memory aspects of cognition, such as finding the right word, trouble understanding visual
          images and spatial relationships, and impaired reasoning or judgment, may also signal the early stages of
          Alzheimer’s.</li>
        <li> As the disease progresses, symptoms become more severe and include increased confusion and behavior
          changes.</li>
        <li> the rate at which the symptoms progress is different for each individual</li>
      </ul>
      </p>
      </p>
    </div>
  </div>
  <center>
    <div class="frame">
      <iframe src="https://www.youtube.com/embed/w6EqyEjuq3A?autoplay=1" width="500" height="300"></iframe>
    </div>
  </center>
  <div id="second">
    <h2>2.Stages of Alzheimer's?</h2>
    <div>
      <p>
      <ul class="hello">
        <li> Alzheimer's disease progresses in several stages: preclinical, early (also called mild), middle (moderate),
          and late (severe).</li>
        <li> During the preclinical stage of Alzheimer's disease, people seem to be symptom-free, but toxic changes are
          taking place in the brain. </li>
        <li> A person in the early stage of Alzheimer's may exhibit the signs listed above.</li>

        <li> As Alzheimer's disease progresses to the middle stage, memory loss and confusion grow worse, and people may
          have problems recognizing family and friends.</li>
        <li> As Alzheimer's disease becomes more severe, people lose the ability to communicate. </li>
        <li> They may sleep more, lose weight, and have trouble swallowing. Eventually, they need total care.</li>
        </p>
        </p>
    </div>
  </div>
  <div id="third">
    <h2>3.Causes of Alzheimer's?</h2>
    <div>
      <p>
      <ul class="hello">
        <li> Scientists do not yet fully understand what causes Alzheimer's disease in most people. </li>
        <li> In early-onset Alzheimer's, which occurs between a person's 30s and mid-60s, there may be a genetic
          component.</li>
        <li> Late-onset Alzheimer's, which usually develops in a person's mid-60s, arises from a complex series of
          age-related brain changes that occur over decades. </li>
        <li> The causes probably include a mix of these changes, along with genetic, environmental, and lifestyle
          factors.</li>
        <li> These factors affect each person differently.</li>

        <li> Down syndrome, a genetic condition, increases a person’s risk of developing Alzheimer’s disease.</li>
        <li> Estimates suggest that 50% or more of people with Down syndrome will develop Alzheimer’s disease and may
          begin to show symptoms in their 40s.</li>S
      </ul>
      </p>
      </p>
    </div>
  </div>
  <div id="forth">
    <img src="static/WhatsApp Image 2022-10-29 at 17.09.36 (2).jpeg" alt="" class="pic1">
    <h2 style="margin-left: 20%;">
      4.Is Alzheimer’s Disease hereditary?
    </h2>
    <div>
      <p>
      <ul class="hello" id="ab">
        <li>Just because a family member has Alzheimer's disease does not mean that you will get it, too.</li>
        <li> Most cases of Alzheimer's are late-onset.</li>
        <li> This form of the disease occurs in a person's mid-60s and is not linked to a specific genetic mutation.
        </li>
        <li> However, genetic factors appear to increase a person's risk of developing late-onset Alzheimer's.</li>

        <li> Early-onset Alzheimer's disease, which is rare, can be caused by mutations, or changes, in certain genes.
        </li>
        <li> If one of the gene mutations is passed down, the child will usually — but not always — have the disease.
        </li>
        <li> For other cases of early-onset Alzheimer's, research shows other genetic components are involved.</li>
        </p>
        </p>
    </div>
  </div>
  <div id="fifth">
    <h2>5.Is there a cure of Alzheimer's?</h2>
    <div>
      <p>
      <ul class="hello">
        <li>Currently, there is no cure for Alzheimer's disease. Some sources claim that products such as coconut oil or
          dietary supplements can cure or delay Alzheimer's.</li>
        <li> However, there is no scientific evidence to support these claims </li>
        <li> The U.S. Food and Drug Administration (FDA) has approved several drugs to treat people with Alzheimer's
          disease, and certain medicines and interventions may help control behavioral symptoms. </li>
        </p>
        </p>
    </div>
  </div>
  <div id="sixth">
    <h2>6.Prevention of Alzheimer’s Disease?</h2>
    <div>
      <p>
      <ul class="hello">
        <li>Currently, there is no definitive evidence about what can prevent Alzheimer's disease or age-related
          cognitive decline. </li>
        <li> What we do know is that a healthy lifestyle — one that includes a healthy diet, physical activity,
          appropriate weight, and control of high blood pressure — can lower the risk of certain chronic diseases and
          boost overall health and well-being.</li>
        <li> Scientists are very interested in the possibility that a healthy lifestyle might delay, slow down, or even
          prevent Alzheimer's.</li>
        <li> They are also studying the role of social activity and intellectual stimulation in Alzheimer's disease
          risk.</li>
        </p>
        </p>
    </div>
  </div>
  <div id="seventh">
    <h2>7.What are the benefits of an early Alzheimer’s diagnosis?</h2>
    <div>
      <p>
      <ul class="hello">
        <li>
          There are multiple conditions besides Alzheimer's that can share some of the same characteristics, some of
          which are treatable and even reversible. </li>
        <li> And often, the earlier they're identified and treated, the better the outcome.</li>
        <li> These can include vitamin B12 deficiency, normal pressure hydrocephalus, delirium, thyroid problems, and
          depression.</li>
        </p>
        </p>
    </div>
  </div>
  <div id="eight">
      <img src="static/WhatsApp Image 2022-10-29 at 17.09.36.jpeg" alt="" class="pic2">
      <h2 style="margin-left: 20%;">
      8.How is Alzheimer’s Disease diagnosized?
    </h2>
    <div>
      <p>
      <ul class="hello">
        <li>Alzheimer's dementia can be diagnosed in several different ways. </li>
        <li> Often, Alzheimer's is diagnosed through a doctor's exam.</li>
        <li> They will evaluate your signs and symptoms and do several tests. </li>
        <li> They may talk to friends and family members to find out more about symptoms and behavior.</li>
        <li> It's important to get an accurate diagnosis of Alzheimer's, the most common type of dementia. </li>
        <li> The correct diagnosis is an important first step toward getting the appropriate treatment, care, family
          education and plans for the future</li>
        </p>
        </p>
    </div>
  </div>
  <center>
    
        <a href="index.html">
                <button class="btn"><b>Back</b></button>
        </a>
        </center>
</body>

</html>