
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
</head>

<body>
    <form action="signup" method="post">
        {% csrf_token %}
    <div class="scont">
        <h1 class="heading">Signup</h1>
        <center>
        Name : <input type="text" name="name"/> <br /><br />
        User Name : <input type="text" name="uname"/> <br /><br />
        Password : <input type="password" name="pword" /> <br /><br />
        Gender : <input type="text" name="gender"/> <br /><br />
        Email Id : <input type="text" name="email"/> <br /><br />
        Phone No : <input type="text" name="phone"/> <br /><br /><br><br>
    </center>
    <center>
        <input type="submit" class="btns" ><br><br>
    <a href="index.html" class="btns">Back</a></center>
    </div>
</form>
</body>

</html>